.board {
    display: flex;
    flex-direction: column;
    text-shadow: 1px 2px 1px rgba(16, 152, 237, 0.918) ;

}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 3vw;
    background-image: url("foto4.jfif");
    background-size: 100%;
    border: solid 1px black;
    
}
.symbol{
    color: white ;
    font-size: 2vw;
    font-style: italic;

}

.side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 2vw;
    background-image: url("foto4.jfif");
    background-size: 100%;
    border: solid 1px black;
}
.chess{
    font-size: 4vw;
    color: aliceblue;
    text-shadow: 1px 1px 1px;
   
   

   
}
.chess-black{
    
    font-size: 4vw;
    color: black;
    text-shadow: 1px 1px 1px;
    

}

.corner {
    height: 3vw;
    width: 2vw;
    background-image: url("foto4.jfif");
    background-size: 100%;
    border: solid 1px black;
}

.board-row {
    display: flex;
    flex-direction: row;



}

.cell-black {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vw;
    border: solid 1px black;
    background-image: url("foto3.jpg");
    background-size: 10em;
    


}

.cell-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vw;
    border: solid 1px black;
    background-image: url("foto2.jfif");
    background-size: 10em;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;



    background-image: url("foto1.jpg");
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;

}

html {
    height: 100%;
    width: 100%;


}