@font-face {
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}

@font-face {
    font-family: lakeshor;
    src: url(fonts/LAKESHOR-webfont.svg);
    src: url(fonts/LAKESHOR-webfont.woff);
}

@font-face {

    font-family: esqaderoFFCY;
    src: url(fonts/EsqaderoFFCY4F.woff);
}

@font-face {
    font-family: bitterthin;
    src: url(fonts/Bitter-Thin.woff);

}

@keyframes example {
    from {
        color: rgb(24, 5, 5);
    }

    to {
        color: orange;
    }
}

html {
    height: 100%
}

body {
    --details-image-width: 85vw;
    --details-image-height: 36vh;
    --thumbnails-image-width: 25vw;
    --thumbnails-image-height: 19vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.33);






}

body {
    
    width: 100%;
    background-color: rgba(147, 202, 227, 0.116);
    display: flex;
    flex-direction: column;
    margin: 0%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.701), #BC8F8F, #5F9EA0);

}



.logo {



position: relative;
    display: block;
    text-align: center;
    font-size: 1.2em;

    font-weight: 100;
    text-transform: uppercase;
    color: #311a5c;
    font-family: esqaderoFFCY;


    text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.411);


    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 10vw;


}


h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-class.hidden {
     /* --thumbnails-image-width:30vw;
    --thumbnails-image-height:20vw;
    --thumbnails-title-height:calc(var(--thumbnails-image-height)*0.33);
   */
   justify-content: space-around;
   background-color: rgba(60, 57, 245, 0.132);
 
   

}






.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

}


 .hidden .details-container{ 
    display:none;
}
.hidden .box-play{
    display: none;
}


#play{
   
   max-height: 6vw;
   max-width: 8vw;
    text-align: center;
    right: 5vw;
   
   
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 220, 0);
    border-radius: 10%;
        
  
}
#pause{
  
    max-height: 6vw;
    max-width: 8vw;
    text-align: center;
    right: 5vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 220, 0);
    border-radius: 10%;

}

.box-play{

    display: flex;
    flex-direction: row;
    position: absolute;
   
}



.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 2s;
    
   
}

.is-point{
   transform:scale(0.0001);
   transition: 0s;
   

}



.details-image {
    display: inline-block;
    width: var(--details-image-width);
    height: var(--details-image-height);

    border-radius: 15%;
    box-shadow: black 0.1em 0.2em 0.1em;
    -moz-box-shadow: 0px 6px 0px #2b638f;
    transition: width 2s, height 2s, transform 2s;

}

.details-title {

    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-shadow: rgba(18, 5, 5, 0.87) 0.1em 0.2em 0.1em;
    position: absolute;
    bottom: 3vw;
    left: -5vw;
    font-weight: normal;
    font-style: italic;
    color: rgba(240, 248, 255, 0.779);


}
#hide-button{
    position: absolute;
    right: 3vw;
    top:2.5vh;
    background-color: rgba(223, 117, 117, 0.573);
    
  
  }

.details-frame {
    position: relative;

}

.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 40vh;
    overflow-y: scroll;
    justify-content: space-around;
    padding-left: 0;
    list-style: none;
    margin-top: 5vh;

}

.hidden .thumbnails-list {
    max-height: 80vh;
 
    

}

.thumbnails-item {

    border: solid 4px rgba(13, 12, 61, 0.658);
    margin-top: 3vw;
    border-radius: 25%;
    overflow: hidden;
    min-height: calc (var(--thumbnails-image-height) + var(--thumbnails-title-height));
    min-width: var(--thumbnails-image-width);
    max-width: var(--thumbnails-image-width);
    margin-left: 1vw;
}

.thumbnails-item:hover {

   
    transform: scale(1.1);
    background-color: rgb(255, 115, 0);
 
}

.thumbnails-anchor {
     text-decoration: none; 
  
   
}

.thumbnails-image {
    display: block;
    height: var(--thumbnails-image-height);
    width: var(--thumbnails-image-width);

    object-position: top;
   


}



.thumbnails-title {
    display: block;
    background-color: rgb(106, 106, 115);
    text-align: center;
    font-size: 3.5vw;
    color: orange;
    font-family: bitterthin;
    padding-top: 1.5vw;

    height: var(--thumbnails-title-height);


}

@media (min-width: 560px) {
    body {
        --details-image-width: 45vw;
        --details-image-height: 35vw;
        --thumbnails-image-width: 21vw;
        --thumbnails-image-height: 13vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.33);
       
    }
   
   .logo{
    margin: 0;
   }
    .main-class {

        flex-direction: row;
        justify-content: space-around;

    }
    .hidden .thumbnails-list{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 90vw;
        max-height: 80vh;
    
    }
    .main-class.hidden {
        --thumbnails-image-width: 18vw;
        --thumbnails-image-height: 12vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.30);
       


    }

    .thumbnails-list {

        width: 25vw;
        order: -1;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 80vh;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0vh;


    }

    .thumbnails-item {
        display: block;
        min-height: 16vw;
        margin-top: 1rem;
        min-width: var(--thumbnails-image-width);

    }

    .thumbnails-title {

        width: var(--thumbnails-image-width);

        height: var(--thumbnails-title-height);
        font-size: 2vw;
        padding-top: 1vh;
    }


    .details-image {

        width:var(--details-image-width);
        height:var(--details-image-height);
        border-radius: 18%;
        justify-content: center;

    }

    .thumbnails-image {

        width: var(--thumbnails-image-width);
        height: var(--thumbnails-image-height);

    }


    ::-webkit-scrollbar {

        box-shadow: inset 0 0 5px grey;
        width: 2px;
        height: 2px;

    }
    .box-play{

        display: flex;
        flex-direction: row;
        right:6vw;
        bottom:2vw;
        position: absolute;
       
    
    }

    #play{
   
       max-height: 4vw;
       max-width: 6vw;
        text-align: center;
        right: 5vw;
       
        
        align-items: center;
        background-color: rgba(245, 245, 220, 0);
        border-radius: 10%;
            
      
    }
    #pause{
      
        max-height: 4vw;
        max-width: 6vw;
        text-align: center;
        right: 5vw;
           
        background-color: rgba(245, 245, 220, 0);
        border-radius: 10%;
    
    }

}


@media (min-width: 1000px) {

    .logo {

        display: block;
        text-align: center;
        font-size: 3em;
        

    }


    .details-container {

        padding-right: 4em;
        align-items: center;
        justify-content: center;

    }

    body {
        --details-image-width: 55vw;
        --details-image-height: 40vw;
    }

    .details-image {
        width: var(--details-image-width);
        height: var(--details-image-height);

    }

    .details-title {

        display: block;
        margin-top: 1em;
        font-size: 3vw;

    }

    ::-webkit-scrollbar {

        box-shadow: inset 0 0 5px grey;
        width: 2px;
        height: 2px;

    }



    .main-class.hidden {
        --thumbnails-image-width: 13vw;
        --thumbnails-image-height: 18vh;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.30);
         height: 40vw;
        
       
        
       
    }

    .thumbnails-item {
         display: block; 
        min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
     
        min-width: var(--thumbnails-image-width);

        
    
    }
    .hidden .thumbnails-item{
        margin-left: 2vw;
      
    }
  
    #play{
   
        max-height: 6vw;
        max-width: 6vw;
        text-align: center;
        right: 5vw;
         font-size: 1.5vw;
        
        align-items: center;
        background-color: rgba(245, 245, 220, 0);
        border-radius: 10%;
            
      
    }
    #pause{
        font-size: 2vw;
        max-height: 6vw;
        max-width: 10vw;
        text-align: center;
        right: 5vw;
           
        background-color: rgba(245, 245, 220, 0);
        border-radius: 10%;
    
    }


.box-play{

    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0.5vw;
     right: 4vw;
    
   
}
.hidden .thumbnails-title{
    font-size: larger;
}
.hidden .thumbnails-list{
    margin: 2vh;
    justify-content: flex-start;
    margin-right: 3vw;
    width: 95vw;
    
          
    
}



}